<section class="navbar main-menu">
    <div class="navbar-inner main-menu">				
      <a routerLink="" class="logo pull-left"><img src="assets/themes/images/logo.png" class="site_logo" alt=""></a>
      <nav id="menu" class="pull-right">
        <ul>
          <li><a routerLink="/products" >Woman</a>					
            <ul>
              <li><a routerLink="/products">Lacinia nibh</a></li>									
              <li><a routerLink="/products">Eget molestie</a></li>
              <li><a routerLink="/products">Varius purus</a></li>									
            </ul>
          </li>															
         <!--  <li><a routerLink="/man">Man</a></li> -->			
          <li><a routerLink="/girls">Girls</a>
            <ul>									
              <li><a routerLink="/products">Gifts and Tech</a></li>
              <li><a routerLink="/products">Ties and Hats</a></li>
              <li><a routerLink="/products">Cold Weather</a></li>
            </ul>
          </li>							
          <li><a routerLink="/products">Hangbag</a></li>
          <li><a routerLink="/best-seller">Best Seller</a></li>
          <li><a routerLink="/top-seller">Top Seller</a></li>
        </ul>
      </nav>
    </div>
  </section>